<a href="https://colab.research.google.com/github/jaeheon209/prgrms-de/blob/master/assignment/3_week/assignment_1_sql_summary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# IPython/Jupyter extension으로 SQL 사용 준비

In [ ]:
# 1. DB 접속 ID/PW 및 sqlalchemy conn string 생성
user = ''
password = ''

sql_conn_str = f'postgresql://{user}:{password}@grepp-data.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev'
print(sql_conn_str)

In [ ]:
# 2. Built-in magic commands
# load_ext : Load an IPython extension by its module name.
%load_ext sql

In [ ]:
# 3. sqlalchemy conn string 내용 삽입 (2번 내용)
%sql postgresql://{user}:{password}@grepp-data.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev

In [ ]:
# SQL 사용 sample
%%sql
SELECT * FROM raw_data.session_timestamp LIMIT 10

In [ ]:
# pandas df 생성
result = %sql SELECT * FROM raw_data.channel
df = result.DataFrame()

# pandas df 출력
df.head()

# Basic SQL

1. DDL : Channel 테이블 만들어 보기

In [ ]:
%%sql

-- 1) 테이블 생성
DROP TABLE IF EXISTS adhoc.a_mj_channelj
CREATE TABLE adhoc.a_mj_channel (
	channel varchar(32) primary key
);

-- 2) INSERT 데이터 후 확인
INSERT INTO adhoc.a_mj_channel VALUES ('FACEBOOK'),('GOOGLE');
SELECT * FROM adhoc.a_mj_channel;

-- 3) 테이블 삭제
DROP TABLE adhoc.a_mj_channel;

-- 4) CTAS를 사용하여 테이블 생성
CREATE TABLE adhoc.a_mj_channel;
AS SELECT channel FROM raw_data.user_session_channel;

-- 5) 컬럼 이름 변경
ALTER TABLE adhoc.a_mj_channel RENAME channel to channelname;

-- 6) INSERT 데이터 후 확인
INSERT INTO adhoc.a_mj_channel VALUES ('TIKTOK');
SELECT * FROM adhoc.a_mj_channel;

 * postgresql://jaeheon209:***@grepp-data.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
(psycopg2.ProgrammingError) syntax error at or near "CREATE"
LINE 3: CREATE TABLE adhoc.a_mj_channel (
        ^

[SQL: -- 1) 테이블 생성
DROP TABLE IF EXISTS adhoc.a_mj_channelj
CREATE TABLE adhoc.a_mj_channel (
	channel varchar(32) primary key
);]
(Background on this error at: http://sqlalche.me/e/13/f405)

2. IN & LIKE(대소문자 구분)와 ILIKE(대소문자 구분하지 않음)

3. String Function : LEFT, REPLACE, UPPER, LOWER, LEN

4. EXTRACT를 사용하여 session이 가장 많이 생성되는 시간대 구하기

5. JOIN을 사용하여 raw_data.channel의 채널별 사용자 수 세기

6. WINDOW를 사용하여 사용자별 처음과 마지막 채널 알아내기