<a href="https://colab.research.google.com/github/jaeheon209/prgrms-de/blob/master/assignment/3_week/assignment_4_cohort.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
 # 1. DB 접속 ID/PW 및 sqlalchemy conn string 생성
user = ''
password = ''

sql_conn_str = f'postgresql://{user}:{password}@grepp-data.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev'
print(sql_conn_str)

In [ ]:
# 2. Built-in magic commands
# load_ext : Load an IPython extension by its module name.
%load_ext sql

In [ ]:
# 3. sqlalchemy conn string 내용 삽입 (2번 내용)
%sql postgresql://{user}:{password}@grepp-data.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev

In [ ]:
result = %sql SELECT DISTINCT LEFT(st.ts::text,7) as month , usc.userid as userid FROM raw_data.user_session_channel AS usc LEFT JOIN raw_data.session_timestamp as st ON usc.sessionid = st.sessionid ORDER BY 1, 2

In [ ]:

dict = {}
for re in result:
  if dict.get(str(re[0])) is None:
    dict[str(re[0])] = [str(re[1])]
  else:
    dict[str(re[0])].append(str(re[1]))
    
print(dict)

In [ ]:
cohort_month = []
month1 = []
month2 = []
month3 = []
month4 = []
month5 = []
month6 = []
month7 = []


keys = list(dict.keys())
for i in range(0,len(keys)):
  cohort = dict.get(keys[i])
  cohort_month.append(keys[i])

  before_month = []
  for k in range(0,i):
    print(f'k:{k}')
    before_month += dict.get(keys[k])
  before_month = list(set(before_month))

  cohort = list(set(cohort).difference(before_month))

  month_number = 1
  for j in range(i,len(keys)):

    key = keys[j];
    intersection = set(cohort).intersection(dict.get(key))
    if month_number == 1:
      month1.append(len(intersection))
    elif month_number == 2:
      month2.append(len(intersection))
    elif month_number == 3:
      month3.append(len(intersection))
    elif month_number == 4:
      month4.append(len(intersection))
    elif month_number == 5:
      month5.append(len(intersection))
    elif month_number == 6:
      month6.append(len(intersection))
    elif month_number == 7:
      month7.append(len(intersection))


    print(f'{key} : {len(intersection)} : month{month_number}')
    month_number += 1
  print()

In [36]:
import pandas as pd


df = pd.DataFrame({"cohort_month":cohort_month
                   ,"month1":month1
                   ,"month2":month2 + ([None] * (7-len(month2)))
                   ,"month3":month3 + ([None] * (7-len(month3)))
                   ,"month4":month4 + ([None] * (7-len(month4)))
                   ,"month5":month5 + ([None] * (7-len(month5)))
                   ,"month6":month6 + ([None] * (7-len(month6)))
                   ,"month7":month7 + ([None] * (7-len(month7)))
                   })

display(df)

  cohort_month  month1  month2  month3  month4  month5  month6  month7
0      2019-05     281   262.0   237.0   229.0   224.0   213.0   206.0
1      2019-06     197   175.0   160.0   150.0   148.0   145.0     NaN
2      2019-07     211   189.0   175.0   167.0   155.0     NaN     NaN
3      2019-08      84    73.0    71.0    69.0     NaN     NaN     NaN
4      2019-09      17    14.0    13.0     NaN     NaN     NaN     NaN
5      2019-10     150   124.0     NaN     NaN     NaN     NaN     NaN
6      2019-11       9     NaN     NaN     NaN     NaN     NaN     NaN